<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_programmevents_domain_model_event.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="id">
	<f:translate key="tx_programmevents_domain_model_event.id" />
</label><br />
	<f:form.textfield property="id" /><br />
<label for="type">
	<f:translate key="tx_programmevents_domain_model_event.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="datebegin">
	<f:translate key="tx_programmevents_domain_model_event.datebegin" />
</label><br />
	<f:form.textfield property="datebegin" /><br />
<label for="timebegin">
	<f:translate key="tx_programmevents_domain_model_event.timebegin" />
</label><br />
	<f:form.textfield property="timebegin" /><br />
<label for="formatteddate">
	<f:translate key="tx_programmevents_domain_model_event.formatteddate" />
</label><br />
	<f:form.textfield property="formatteddate" /><br />
<label for="weekdaybegin">
	<f:translate key="tx_programmevents_domain_model_event.weekdaybegin" />
</label><br />
	<f:form.textfield property="weekdaybegin" /><br />
<label for="categories">
	<f:translate key="tx_programmevents_domain_model_event.categories" />
</label><br />
	<f:form.textfield property="categories" /><br />
<label for="image">
	<f:translate key="tx_programmevents_domain_model_event.image" />
</label><br />
	<f:form.textfield property="image" /><br />
</html>