<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-programmevents" >
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.name" />
		</td>
		<td>
		{location.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.address" />
		</td>
		<td>
		{location.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.zipcode" />
		</td>
		<td>
		{location.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.xcoordinate" />
		</td>
		<td>
		{location.xcoordinate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.ycoordinate" />
		</td>
		<td>
		{location.ycoordinate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_programmevents_domain_model_location.portal" />
		</td>
		<td>
		{location.portal}
		</td>
	</tr>
</table>
</html>